* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}
.meal {
  margin: 40px 40px;
}

.meal row {
  margin-bottom: 20px;
}

img {
  width: 100%;
}

button:active {
  transform: scale(0.98);
}
button:focus {
  border: none;
  outline: none;
}

.videoWrapper {
  position: relative;
  padding-bottom: 46.25%;
  height: 60vh;
  width: 60vw;
}
.videoWrapper iframe {
  position: absolute;
  top: 70px;
  left: 0;
  width: inherit;
  height: inherit;
}
